.banner {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
  gap: 20px;
}

.bannerParent {
  padding: 2rem 0;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.banner__heading__medium {
  font-size: 36px;
  font-weight: var(--font-bold);
}

.banner__subText__large {
  color: var(--pColor);
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: 36px;
  font-weight: var(--font-medium);
}

.heading {
  font-size: 48px;
  font-weight: var(--font-bold);
}
.banner__text {
  font-size: 24px;
}
.banner__subText {
  color: var(--pColor);
  font-size: 16px;
}

@media (max-width: 992px) {
  .banner {
    text-align: center;
  }
  .heading {
    font-size: 38px;
  }
}

@media (max-width: 550px) {
  .banner {
    gap: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .banner__text {
    font-size: 20px;
  }

  .banner__heading__medium {
    font-size: 38px;
  }
  .banner__subText__large {
    font-size: 26px;
  }
}
