.reviews {
  margin: 100px 0;
}

.testimonials__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

@media (max-width: 450px) {
  .testimonials__cards {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
